@import 'layout';

@font-face {
  font-family: 'RFDewi';
  src: url('../static/fonts/RFDewi/RFDewiExpanded-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'RFDewi';
  src: url('../static/fonts/RFDewi/RFDewiExpanded-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'RFDewi';
  src: url('../static/fonts/RFDewi/RFDewiExpanded-Black.woff');
  font-weight: bolder;
}

$font-stack: 'RFDewi', Helvetica, sans-serif;
$primary-color: #141414;
$max-width-desktop: 1280px;
$container-padding: 1.45rem 1.0875rem;

body {
  font: 100% $font-stack;
  background: $primary-color;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p,a,span {
  font-family: $font-stack;
  font-weight: normal;
}

main {
  max-width: $max-width-desktop;
  margin: auto;
  padding: 1.5rem 2.5rem;
}

.nav-header {
  position: relative;
  padding-bottom: 48px;
  z-index: 2;
  margin: auto;
  .nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    a {
      text-decoration: none;
      h2 {
        font-weight: normal;
        color: white;
      }
    }
  }
}

// Hero section
#hero-section {
  padding-bottom: 7rem;
  position: relative;
  .container {
    max-width: $max-width-desktop;
    margin: auto;
    padding: $container-padding;
    // display: flex;
    justify-content: center;
    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      margin-bottom: 5rem;
      .title {
        font-size: 5rem;
        font-weight: normal;
        text-align: center;
      }
      .text {
        font-size: 1.25rem;
      }
      .download-button {
        border-radius: 200px;
        margin: 10px 15px;
        img {
          height: 50px
        }
        &:focus {
          outline: none;
        }
      }
    }
    .available-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      margin-top: 12rem;
      .title {
        font-size: 5rem;
        font-weight: normal;
        text-align: center;
      }
      .text {
        font-size: 1.25rem;
      }
      .download-button {
        border-radius: 200px;
        margin: 10px 15px;
        img {
          height: 50px
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .slick-slider {
    max-height: 72vh;
  }
  .slider-slide {
    width: 100%;
    height: 70vh;
    text-align: center;
    .slider-img {
      height: 70vh;
      margin: auto;
    }
  }
  .slick-dots {
    li, button {
      width: 12px;
      height: 12px;
    }
    button:before {
      background: white;
      color: white;
      border-radius: 100%;
      line-height: 12px;
      width: 12px;
      height: 12px;
    }
  }
}

// footer 
footer {
  .container {
    text-align: center;
    max-width: $max-width-desktop;
    padding: $container-padding;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: white;
    }
  }
}